tr 
{
    list-style-type: none;
    margin: 0;
    padding:0;
    display: flex;
  }
 
  .div-class{
    background-color:lightblue;
	margin-right: 20px;
  }
  .div-class a{
   text-decoration: none;
    padding:10px; 
    width:10%;
    font-size: 30px;
    overflow: hidden;

  }
  #aa{
      float:Right;
       padding:5px;
      margin-top:0.10%;
  }
  li
  {
      display: inline;
      padding:20%
  }
 #image1
  {
    height: 200px;
    width: 100%;
    border:2px solid black;
    
  }
  #image
  {
      float:right;
      height: 300px;
      width: 30%;
      border:2px solid black;
      margin-left: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
    
    transition: transform .2s;
    
      
  }
  #image:hover
  {
      transform: scale(1.5);
      
  }
  footer
  {
       
      background-color:yellow ;
      align-items: center;
      bottom: 0;
  
  }
    
